<div class="pre-loader">
     
        <div class="load-con">
            <img src="../assets/logo1.png" class="animated fadeInDown" alt="이미지준비중">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        </div>
    </div>
   
    <header>
        
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="fa fa-bars fa-lg"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="../assets/logo1.png" alt="" class="logo">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#demo">축제 소개</a>
                            </li>
                            <li><a href="#about">라인업</a>
                            </li>
                            <li><a class="getApp" href="#features">대동제 지도</a>
                            </li>
                            
                            <li><a href="#features1">주점</a>
                            </li>
                            
                            <li><a href="#getApp">팔정도</a>
                            </li>
                            <li><a href="#screens">포스터</a>
                            </li>  
                            
                            <li><a href="#reviews">서애로</a>
                            </li>
                                                      
                            
                            <li><a href="#support">만든이</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-->
        </nav>

        
        <!--RevSlider-->
        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                        <!-- MAIN IMAGE -->
                        <img src="../assets/campus.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption lfl fadeout hidden-xs"
                            data-x="left"
                            data-y="bottom"
                            data-hoffset="30"
                            data-voffset="0"
                            data-speed="500"
                            data-start="700"
                            data-easing="Power4.easeOut">
                            <!--      <img src="../assets/banner.png" alt="">      -->
                        </div>

                        <div class="tp-caption lfl fadeout visible-xs"
                            data-x="left"
                            data-y="center"
                            data-hoffset="700"
                            data-voffset="0"
                            data-speed="500"
                            data-start="700"
                            data-easing="Power4.easeOut">
                            <!-- <img src="../assets/fes1.jpg" alt=""> -->
                        </div>

                        <div class="tp-caption large_white_bold sft" data-x="550" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1200" data-easing="Power4.easeOut" style="font-family: 'Nanum Gothic', sans-serif;">
                            동국대학교
                        </div> 
                        <div class="tp-caption large_white_light sfr" data-x="770" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1400" data-easing="Power4.easeOut" style="font-family: 'Nanum Gothic', sans-serif;">
                            
                        </div>
                        <div class="tp-caption large_white_light sfb" data-x="550" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" style="font-family: 'Nanum Gothic', sans-serif;">
                            2016 대동제
                        </div>

                        
                    
                        <div class="tp-caption sfr hidden-xs" data-x="730" data-y="center" data-hoffset="0" data-voffset="85" data-speed="1500" data-start="1900" data-easing="Power4.easeOut">
                            <a href="#demo" class="btn btn-default btn-lg">축제 소개 보기</a>
                        </div>

                    </li>
                    <!-- SLIDE 2 -->
                    <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src="../assets/fes3.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        
                        
                        <div class="tp-caption lfb fadeout hidden-xs"
                            data-x="center"
                            data-y="bottom"
                            data-hoffset="0"
                            data-voffset="0"
                            data-speed="1000"
                            data-start="700"
                            data-easing="Power4.easeOut">
                            <!-- <img src="../assets/lineup.png" alt=""> -->
                        </div>

                        <div class="tp-caption sfb hidden-xs" data-x="550" data-y="center" data-hoffset="0" data-voffset="85" data-speed="1000" data-start="1700" data-easing="Power4.easeOut">
                            <a href="#about" class="btn btn-primary inverse btn-lg">축제 라인업 보기</a>
                        </div>                        

                        
                        
                    </li>

                    <!-- SLIDE 3 -->
                    <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src="../assets/bbb2.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption customin customout hidden-xs"
                            data-x="right"
                            data-y="center"
                            data-hoffset="0"
                            data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-voffset="50"
                            data-speed="1000"
                            data-start="700"
                            data-easing="Power4.easeOut">
                           <!--  <img src="../assets/family-berry.png" alt=""> -->
                        </div>

                        <div class="tp-caption customin customout visible-xs"
                            data-x="center"
                            data-y="center"
                            data-hoffset="0"
                            data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-voffset="0"
                            data-speed="1000"
                            data-start="700"
                            data-easing="Power4.easeOut">
                            <img src="../assets/family-berry.png" alt="">
                        </div>

                        <div class="tp-caption lfb visible-xs" data-x="center" data-y="center" data-hoffset="0" data-voffset="400" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">
                            <a href="#" class="btn btn-primary inverse btn-lg">Purchase</a>
                        </div>

                        
                        <div class="tp-caption mediumlarge_light_white sfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="-50" data-speed="1000" data-start="1000" data-easing="Power4.easeOut">
                        봄에 끼리끼리 즐겁게        
                        </div>
                        <div class="tp-caption mediumlarge_light_white sft hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">
                           
                        </div>
                        <div class="tp-caption small_light_white sfb hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="80" data-speed="1000" data-start="1600" data-easing="Power4.easeOut">
                           <p>플젝, 학점, 과제, 취업에 치여 즐기지 못하는 청춘들이 축제때 만큼은 찬란한 봄을 만끽할 수 있기를 바라며</p>
                        </div>

                        <div class="tp-caption lfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="160" data-speed="1000" data-start="1800" data-easing="Power4.easeOut">
                            <a href="#features" class="btn btn-primary inverse btn-lg">대동제 지도 보기</a>
                        </div>
                        
                        
                    </li>
                    
                </ul>
            </div>
        </div>


    </header>


    <div class="wrapper">

        <section id="demo">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>2016 동국대학교 대동제</h1>
                    <div class="divider"></div>
                    <p style="font-size:32px; color:#333333;">봄끼리</p>
                    <p>봄+코끼리를 합쳐 따뜻한 봄날 동국대 코끼리 친구들과 함께하는 축제</p>
                </div>
                <div class="row">
                     
                    <div class="col-md-8 col-md-offset-2 scrollpoint sp-effect2">
                        <div class="video-container" >
                            <iframe src="https://player.vimeo.com/video/166911620" width="560" height="315" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                        </div>
                    </div>
                
                </div>
            </div>
        </section>

        <section id="about">
            <div class="container">
                
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>라인업</h1>
                    <div class="divider"></div>
                    <p>장소 : 만해광장 중앙무대</p>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2 scrollpoint sp-effect2">
                        <div class="video-container">
                            <iframe src="https://player.vimeo.com/video/166911005" width="560" height="315" style="border:none;overflow:hidden; margin-bottom: 15px;" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="about-item scrollpoint sp-effect2">
                            <img src="../assets/mad.jpg" class="img-thumbnail" alt="Cinque Terre">

                           <!--  <i class="fa fa-download fa-2x"></i>-->
                            <h3>매드클라운</h3>
                            <p>5월 25일</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6" >
                        <div class="about-item scrollpoint sp-effect5">
                             <img src="../assets/giha.jpg" class="img-thumbnail" alt="Cinque Terre">
                            <h3>장기하와 얼굴들</h3>
                            <p>5월 25일</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6" >
                        <div class="about-item scrollpoint sp-effect5">
                             <img src="../assets/lovelys.jpg" class="img-thumbnail" alt="Cinque Terre">
                            <h3>러블리즈</h3>
                            <p>5월 26일</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6" >
                        <div class="about-item scrollpoint sp-effect1">
                             <img src="../assets/nine.jpg" class="img-thumbnail" alt="Cinque Terre">
                            <h3>나인 뮤지스</h3>
                            <p>5월 26일</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>

        <section id="features">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>한눈으로 보는 대동제 지도</h1>
                    <div class="divider"></div>
                    <img src="../assets/marker.png" style="width: 35px;"/>
                    <p>지도 안에 노란 마커를 클릭하시면 정보가 나타납니다.</p>
                </div>
                
                 <div class="col-md-12 col-sm-12" >
                 
                         <p>
                            <button onclick="panTo()">지도 중심 및 줌을 원래상태로</button> 
                        </p>
                 
                       <div id="map" style="width:100%;height:450px;margin-bottom: 20px;">
                       
                                   
                        
                        </div>
                </div>
            </div>
        </section>
        
        <section id="features1">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>주점</h1>
                    <div class="divider"></div>
                    <p></p>
                </div>
                
                <div class="row">
                    <div class="col-md-4 col-sm-6 scrollpoint sp-effect1">
                        <div class="media text-left feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">공과대학</h3>
                                정보통신공학과
                            </div>
                        </div>
                        <div class="media text-left feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">공과대학</h3>
                                컴퓨터공학과
                            </div>
                        </div>
                        <div class="media text-left feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">공과대학</h3>
                                전자전기공학부
                            </div>
                        </div>
                        <div class="media text-left feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">공과대학</h3>
                                산업시스템공학과
                            </div>
                        </div>
                        <div class="media text-left feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">공과대학</h3>
                                화공생물공학과
                            </div>
                        </div>
                         <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">예술대학</h3>
                                모든학과
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">법학대학</h3>
                                모든학과
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-4 col-sm-6 scrollpoint sp-effect2">
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">문과대학</h3>
                                문과대학 학생회
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">문과대학</h3>
                                철학과
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">문과대학</h3>
                                영어영문학과
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">문과대학</h3>
                                국어국문학과
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">문과대학</h3>
                                문예창작과
                            </div>
                        </div>
                         <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">문과대학</h3>
                                일어일문학과
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">문과대학</h3>
                                중어중문학과
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 scrollpoint sp-effect2">
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">이과대학</h3>
                                통계학과
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">이과대학</h3>
                                화학과
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">이과대학</h3>
                                수학과
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">이과대학</h3>
                                물리반도체학과
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">경영대학</h3>
                                경영학회
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">경영대학</h3>
                                경영정보학회
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">경영대학</h3>
                                회계학회
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="getApp">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1 style="color:#333333;">팔정도 학생 참여 부스</h1>
                    <div class="divider"></div>
                    <p style="color:#666666;">팔정도 행사 천막 정보를 안내합니다.</p>
                </div>
                
                <div class="row">
                    <div class="col-md-6 col-sm-6 scrollpoint sp-effect1">
                        <div class="media text-right feature">
                            <a class="pull-right" href="#map">
                                <i class="fa fa-cogs fa-2x"></i>
                            </a>
                            <div class="media-body" onclick="hideMarkers()">
                                <h3 class="media-heading">사다리</h3>
                                <천막1>프로그램 홍보(24, 25일)
                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="#map">
                                <i class="fa fa-envelope fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">DG맘모스</h3>
                                <천막3>야구게임 수익산업(25일)
                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="#map">
                                <i class="fa fa-users fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">참사람</h3>
                                <천막4,5> (24, 25, 26일)
                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="#map">
                                <i class="fa fa-comments fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">어썸피플</h3>
                                <천막7~9>플리마켓,빵/아이스크림/마카롱/커피 판매(24,26일)
                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="#map">
                                <i class="fa fa-calendar fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">도민하</h3>
                                <천막7>꽃/꽃반지판매, 동국대 봄 엽서 무료배포
                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="#map" onclick="hideMarkers()">
                                <i class="fa fa-cogs fa-2x"></i>
                            </a>
                            <div class="media-body" onclick="hideMarkers()">
                                <h3 class="media-heading">IVF/엽서</h3>
                                <천막9(25일),2(26일)>
                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="#map">
                                <i class="fa fa-envelope fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">108리더스</h3>
                                <천막11>타일 판매, 간식류 배포(24, 25일)
                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="#map">
                                <i class="fa fa-users fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">UNPO</h3>
                                <천막11> (27일)
                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="#map">
                                <i class="fa fa-comments fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">컴공</h3>
                                <천막13>스테이크(24~27일)
                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="#map">
                                <i class="fa fa-comments fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">만화얼</h3>
                                <천막10>뽑기(25일)
                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="#map">
                                <i class="fa fa-comments fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">동감</h3>
                                <천막12>홍보,와플/아이스티/꿀자몽 판매(24~26일)
                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="#map">
                                <i class="fa fa-comments fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">미동추</h3>
                                <천막16> (24일)
                            </div>
                        </div>
                        
                    </div>
                   
                    <div class="col-md-6 col-sm-6 scrollpoint sp-effect2">
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-map-marker fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">총학생회</h3>
                                <천막15(24일),16(25~27일)>
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-film fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">농구홀릭</h3>
                                <천막15>생과일주스, 생과일 칵테일(25, 26일)
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-compass fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">멀공</h3>
                                <천막14(26일),25(27일)>
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-picture-o fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">총대의원회</h3>
                                <천막17> (24, 25일)
                            </div>
                        </div>
                        
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-map-marker fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">동국문학회</h3>
                                <천막17>프로그램 홍보(26일)
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-film fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">로터스</h3>
                                <천막18>타로(26일)
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-compass fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">무풍</h3>
                                <천막2>홍보 및 수익사업 치킨, 맥주(24, 25일)
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-picture-o fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">국제협력</h3>
                                <천막6>세계맥주판매(24, 25일)
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-picture-o fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">그리고 그림</h3>
                                <천막11(26일),7(27일)>
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-picture-o fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">정경연</h3>
                                <천막14>감자튀김(24, 25일)
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-picture-o fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">유재환</h3>
                                <천막8>캐릭터마카롱 판매(25일)
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#map">
                                <i class="fa fa-plus fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">산시공</h3>
                                <천막10(24일),6(26일)>칵테일 판매, 게임
                            </div>
                        </div>
                    </div>
                </div>
                
<!--                
                <div class="row">
                    <div class="col-md-12">
                        <div class="hanging-phone scrollpoint sp-effect2 hidden-xs">
                            <img src="../assets/berry-angled2.png" alt="">
                        </div>
                        <div class="platforms">
                            <a href="#" class="btn btn-primary inverse scrollpoint sp-effect1">
                                <i class="fa fa-android fa-3x pull-left"></i>
                                <span>Download for</span><br>
                                <b>Android</b>
                            </a>
                            
                                <a href="#" class="btn btn-primary inverse scrollpoint sp-effect2">
                                    <i class="fa fa-apple fa-3x pull-left"></i>
                                    <span>Download for</span><br>
                                    <b>Apple IOS</b>
                                </a>
                        </div>

                    </div>
                </div>
-->
                

            </div>
        </section>
        

        <section id="screens">
            <div class="container">

                <div class="section-heading scrollpoint sp-effect3">
                    <h1>포스터</h1>
                    <div class="divider"></div>
                    <p>대동제에 열리는 각종 행사들의 포스터입니다.</p>
                    <p style="font-size:15px;">+ 각종 동아리 및 학생회 행사 포스터를 올리고 싶었으나 구하지 못했습니다. 만든이 메일로 보내주시면 추가로 올리겠습니다.</p>
                </div>

                <div class="filter scrollpoint sp-effect3">
                    <a href="javascript:void(0)" class="button js-filter-all active">All</a>
                    <a href="javascript:void(0)" class="button js-filter-one">봄끼리</a>
                    <a href="javascript:void(0)" class="button js-filter-two">단과대 주점</a>
                    <a href="javascript:void(0)" class="button js-filter-three">서애로</a>
                </div>
                <div class="slider filtering scrollpoint sp-effect5" >
                    <div class="one">
                        <img src="../assets/p0.jpg" alt="">
                        <h4>봄끼리</h4>
                    </div>
                    <div class="two">
                        <img src="../assets/p1.jpeg" alt="">
                        <h4>정통과 주점</h4>
                    </div>
                    <div class="two">
                        <img src="../assets/p2.jpeg" alt="">
                        <h4>정통과 주점</h4>
                    </div>
                    <div class="two">
                        <img src="../assets/p3.jpeg" alt="">
                        <h4>정통과 주점</h4>
                    </div>
                    <div class="two">
                        <img src="../assets/p4.jpeg" alt="">
                        <h4>정통과 주점</h4>
                    </div>
                    <div class="three">
                        <img src="../assets/seoehro.jpeg" alt="">
                        <h4>서애로</h4>
                    </div>
                    
                </div>
            </div>
        </section>


        <section id="reviews">
            <div class="container">
                <div class="section-heading inverse scrollpoint sp-effect3">
                    <h1 style="font-family: 'Nanum Gothic', sans-serif;">서애로</h1>
                    <div class="divider"></div>
                    <p style="font-family: 'Nanum Gothic', sans-serif;">충무로 상인들과 함께하는 축제</p>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-push-1 scrollpoint sp-effect3">
                        <div class="review-filtering">
                            <div class="review">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="seoehro_img">
                                            <img src="../assets/seoehro.jpg" alt="" style="width:350px; border-style: solid;border-width: 3px;border-color: white;">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6 col-sm-6">
                                        <div class="review-comment" style="margin-top:115px; margin-right: 10px;">
                                            <h3 style="font-family: 'Nanum Gothic', sans-serif;">서애로 상권 30% 할인 <br>공연 및 경품 추천</h3>
                                            <p style="font-family: 'Nanum Gothic', sans-serif;">
                                                장소 : 파리바게트 사거리 (다음 화면에 지도 첨부)
                                                
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="review rollitin">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                                        <div id="staticMap" style="width:100%; height:500px; border: 3px;border-color: white;border-style: solid;">
                                        </div>
                                            
                                           
                                           <script>
                                                // 이미지 지도에서 마커가 표시될 위치입니다 
                                                var markerPosition  = new daum.maps.LatLng(37.561193, 126.998094); 
                                                
                                                // 이미지 지도에 표시할 마커입니다
                                                // 이미지 지도에 표시할 마커는 Object 형태입니다
                                                var marker = {
                                                    position: markerPosition,
                                                    text: '행사 장소' // text 옵션을 설정하면 마커 위에 텍스트를 함께 표시할 수 있습니다    
                                                };
                                                
                                                var staticMapContainer  = document.getElementById('staticMap'), // 이미지 지도를 표시할 div  
                                                    staticMapOption = { 
                                                        center: new daum.maps.LatLng(37.561193, 126.998094), // 이미지 지도의 중심좌표
                                                        level: 2, // 이미지 지도의 확대 레벨
                                                        marker: marker // 이미지 지도에 표시할 마커 
                                                    };    
                                                
                                                // 이미지 지도를 생성합니다
                                                var staticMap = new daum.maps.StaticMap(staticMapContainer, staticMapOption);
                                            </script>
                                            
                                    </div>
                                </div>
                                    
                            </div>
                            <div class="review rollitin">
                                <div class="row" style="margin-top: 115px;">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="review-person">
                                            <img src="../assets/hashtag.png" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-sm-10">
                                        <div class="review-comment">
                                            <h3>"술값 30% 할인 행사에 참여하는 음식점은 행사 당일날 스티커가 붙어있습니다."</h3>
                                            <p>
                                                - 동국대학교 총학생회 '#해시태그'
                                                
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        


        <section id="support" class="doublediagonal" style="padding-bottom: 30px;">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>만든 이</h1>
                    <div class="divider"></div>
                    <p>동국대학교 X 멋쟁이사자처럼</p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-sm-6 scrollpoint sp-effect1">
                                
                                <div class="media">
                                    <a class="pull-left" href="#" >
                                        <i class="fa fa-map-marker fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">왕대현</h4>
                                    </div>
                                    
                                    
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#" >
                                        <i class="fa fa-map-marker fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">정보통신공학 10</h4>
                                    </div>
                                    
                                   
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#" >
                                        <i class="fa fa-envelope fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <a href="mailto:wangdh1991@naver.com">wangdh1991@naver.com</a>
                                        </h4>
                                    </div>                                                        
                                    
                                </div>
                                
                                
                            </div>
                            
                            
                            <div class="col-md-4 col-sm-6 contact-details scrollpoint sp-effect2">
                                <div class="media">
                                    <a class="pull-left" href="#" >
                                        <i class="fa fa-map-marker fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">정예원</h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#" >
                                        <i class="fa fa-map-marker fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">정보통신공학 13</h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#" >
                                        <i class="fa fa-envelope fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <a href="mailto:jyw0904@hanmail.net">jyw0904@hanmail.net</a>
                                        </h4>
                                    </div>
                                </div>
                                
                            </div>  
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row" style="text-align:center;">
                            <a href="http://www.likelion.net/"><button class="btn btn-primary btn-lg" style="margin-top: 20px;">멋쟁이사자처럼 홈페이지</button></a>
                        </div>
                        <div class="row" style="text-align:center;">
                            <img src="../assets/likelion_logo.png" style=" width: 200px;margin-top: 50px;"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <a href="#" class="scrollpoint sp-effect3">
                    <img src="../assets/logo1.png" alt="" class="logo">
                </a>
                <div class="social">
                    <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
                    
                </div>
                <div class="rights">
                    <p>Copyright &copy; 2016</p>
                    <p>Developed by <a href="http://www.likelion.net/" target="blank" style="color: orange;">멋쟁이사자처럼</a> 왕대현 ❤︎ 정예원 </p>
                </div>
            </div>
        </footer>

        

    </div>
    
    
    <script>
        $(document).ready(function() {
           
            appMaster.placeHold();
            
        
        });
    </script>
    
        
                        <script>
                        
                        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                            mapOption = { 
                                center: new daum.maps.LatLng(37.558264, 127.000210), // 지도의 중심좌표
                                level: 1 // 지도의 확대 레벨
                            };
                        
                        // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
                        var map = new daum.maps.Map(mapContainer, mapOption); 
                        // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다 
                        //map.setZoomable(false);
                        
                        // 마커를 표시할 위치입니다 
                        var positions = [
                        {
                            content: '25: 정보통신', 
                            latlng: new daum.maps.LatLng(37.559933, 126.998811),
                            
                        },
                        {
                            content: '25: 컴퓨터공학과<br>26: 전자전기공학부', 
                            latlng: new daum.maps.LatLng(37.559865, 126.998618),
                            
                        },
                        {
                            content: '25: 산업시스템공학과<br>26: 건설환경공학과<br>27: 멀티미디어공학과', 
                            latlng: new daum.maps.LatLng(37.558967, 126.999085),
                            
                        },
                        {
                            content: '25: 건축/건축공학과<br>26: 융합신소재공학과<br>27: 화학공학과',
                            latlng: new daum.maps.LatLng(37.558606, 126.999222),
                        
                        },
                         {
                            content: '24~25: 경영학회<br>25~26: 경영정보학회<br>26~27: 회계학회', 
                            latlng: new daum.maps.LatLng(37.557411, 127.001995),
                            
                        },
                         {
                            content: '24: 문과대학생회,철학과<br>25: 영어영문,국어국문,문예창작<br>26:일어일문,중어중문<br>27: 사학,영어통번역과', 
                            latlng: new daum.maps.LatLng(37.557724, 127.000192),
                            
                        },
                         {
                            content: '25: 이과대<br>26: 통계학과,화학과<br>27: 수학과,물리반도체학부', 
                            latlng: new daum.maps.LatLng(37.557824, 126.999777),
                            
                        },
                         {
                            content: '24~26: 법학대학', 
                            latlng: new daum.maps.LatLng(37.558135, 127.000693),
                            
                        },
                         {
                            content: '25: 예술대학', 
                            latlng: new daum.maps.LatLng(37.557601, 127.002812),
                            
                        },
                         
                         
                         
                         {
                            id:'1',
                            content: '사다리 및 프로그램홍보', 
                            latlng: new daum.maps.LatLng(37.557943, 127.000369),
                            
                        },
                          {
                            id:'2',
                            content: '2무풍: 치킨,맥주<br>IVF/엽서', 
                            latlng: new daum.maps.LatLng(37.558034, 127.000310),
                            
                        },
                          {
                            id:'3',  
                            content: 'DG맘모스/야구게임', 
                            latlng: new daum.maps.LatLng(37.558166, 127.000414),
                            
                        },
                          { 
                            id:'4',  
                            content: '참사랑 봉사단', 
                            latlng: new daum.maps.LatLng(37.558317, 127.000387),
                            
                        },
                           {
                            id:'5',   
                            content: '참사랑 봉사단', 
                            latlng: new daum.maps.LatLng(37.558361, 127.000521),
                            
                        },
                           {
                            id:'6',   
                            content: '국제협력<br>산시공', 
                            latlng: new daum.maps.LatLng(37.558022, 127.000193),
                            
                        },
                           {
                            id:'7',   
                            content: '어썸피플<br>도민하', 
                            latlng: new daum.maps.LatLng(37.558162, 127.000260),
                            
                        },
                           {
                            id:'8',   
                            content: '어썸피플<br>유재환', 
                            latlng: new daum.maps.LatLng(37.558269, 127.000300),
                            
                        },
                           {
                            id:'9',   
                            content: '어썸피플<br>IVF/엽서', 
                            latlng: new daum.maps.LatLng(37.558310, 127.000314),
                            
                        },   
                        {
                            id:'10',
                            content: '산시공<br>만화열', 
                            latlng: new daum.maps.LatLng(37.558052, 127.000024),
                            
                        },
                        {
                            id:'11',
                            content: '108리더스<br>그리고 그림<br>UNPO', 
                            latlng: new daum.maps.LatLng(37.558284, 127.000212),
                            
                        },
                           {
                            id:'12',   
                            content: '동감', 
                            latlng: new daum.maps.LatLng(37.558298, 127.000151),
                            
                        },
                           {
                            id:'13',   
                            content: '컴퓨터공학과', 
                            latlng: new daum.maps.LatLng(37.558242, 127.000083),
                            
                        },
                           {
                            id:'14',   
                            content: '정경연<br>멀공', 
                            latlng: new daum.maps.LatLng(37.558289, 127.000103),
                            
                        },
                           {
                            id:'15',   
                            content: '총학생회<br>농구홀릭<br>멀공', 
                            latlng: new daum.maps.LatLng(37.558111, 126.999947),
                            
                        },
                           {
                            id:'16',   
                            content: '미동추<br>총학생회', 
                            latlng: new daum.maps.LatLng(37.558270, 126.999993),
                            
                        },
                           {
                            id:'17',   
                            content: '총대의원회<br>동국문학회', 
                            latlng: new daum.maps.LatLng(37.558420, 127.000059),
                            
                        },
                           {
                            id:'18',   
                            content: '로터스', 
                            latlng: new daum.maps.LatLng(37.558486, 127.000025),
                            
                        }
                        
                         ];
                         
                         var poly2 = new Array();
                         var polygon2 = new Array();
                         var polygonPath = [
                             {
                                 name: '공과대 주점',
                                 color: '#CC26FF',
                                 centerpath : new daum.maps.LatLng(37.559542, 126.998846),
                                 path : [
                                    new daum.maps.LatLng(37.560012, 126.998861),
                                    new daum.maps.LatLng(37.558620, 126.999384),
                                    new daum.maps.LatLng(37.558620, 126.999068),
                                    new daum.maps.LatLng(37.559964, 126.998482),
                                ]
                                 
                             },
                               {
                                 name: '예술대 주점',
                                 color: '#ff8533',
                                 centerpath : new daum.maps.LatLng(37.557578, 127.002761),
                                 path : [
                                    new daum.maps.LatLng(37.557401, 127.002774),
                                    new daum.maps.LatLng(37.557432, 127.002653),
                                    new daum.maps.LatLng(37.557824, 127.002815),
                                    new daum.maps.LatLng(37.557798, 127.002930),
                                ]
                                 
                             },
                              {
                                 name: '이과대 주점',
                                 color: '#99ff99',
                                 centerpath : new daum.maps.LatLng(37.557830, 126.999809),
                                 path : [
                                    new daum.maps.LatLng(37.557837, 126.999957),
                                    new daum.maps.LatLng(37.557766, 126.999916),
                                    new daum.maps.LatLng(37.557833, 126.999665),
                                    new daum.maps.LatLng(37.557906, 126.999688),
                                ]
                                 
                             },
                              {
                                 name: '문과대 주점',
                                 color: '#33ccff',
                                 centerpath : new daum.maps.LatLng(37.557738, 127.000164),
                                 path : [
                                    new daum.maps.LatLng(37.557676, 127.000312),
                                    new daum.maps.LatLng(37.557735, 127.000050),
                                    new daum.maps.LatLng(37.557806, 127.000071),
                                    new daum.maps.LatLng(37.557730, 127.000331),
                                ]
                                 
                             },
                              {
                                 name: '경영대 주점',
                                 color: '#33cccc',
                                 centerpath : new daum.maps.LatLng(37.557121, 127.001695),
                                 path : [
                                    new daum.maps.LatLng(37.557194, 127.001393),
                                    new daum.maps.LatLng(37.557212, 127.001827),
                                    new daum.maps.LatLng(37.557096, 127.001805),
                                    new daum.maps.LatLng(37.557103, 127.001503),
                                ]
                                 
                             },
                            
                              {
                                 name: '법대 주점',
                                 color: '#ecffb3',
                                 centerpath : new daum.maps.LatLng(37.558130, 127.000637),
                                 path : [
                                    new daum.maps.LatLng(37.557932, 127.000637),
                                    new daum.maps.LatLng(37.557963, 127.000522),
                                    new daum.maps.LatLng(37.558304, 127.000627),
                                    new daum.maps.LatLng(37.558274, 127.000774),
                                ]
                                 
                             }
                         ];
                         
                         
                         
                         
                         
                        var imageSrc = "http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
                        for (var i = 0; i < positions.length; i ++) {
                        // 마커를 생성합니다
                         var imageSize = new daum.maps.Size(24, 35); 
                         var markerImage = new daum.maps.MarkerImage(imageSrc, imageSize); 
                         var marker = new daum.maps.Marker({
                            map: map, // 마커를 표시할 지도
                            image : markerImage, // 마커 이미지
                            position: positions[i].latlng // 마커의 위치
                        });
                    	// 인포윈도우를 지도에 표시한다
                    	 var cLat = positions[i].latlng.getLat()+0.00005;
                         var cLng = positions[i].latlng.getLng();
                       
                                    // 커스텀 오버레이를 생성합니다
                         var customOverlay = new daum.maps.CustomOverlay({
                             map: map,
                             position: new daum.maps.LatLng(cLat, cLng),
                             content: positions[i].id,
                         });
                        
                    	// 마커에 클릭 이벤트를 등록한다 (우클릭 : rightclick)
                    	 daum.maps.event.addListener(marker, 'click', (function(marker, i) {
                                        return function() {
                                            var infowindow = new daum.maps.InfoWindow({
                                                content: positions[i].content,
                                                removable : true
                                            });
                                          infowindow.open(map, marker);
                                        }
                                    })(marker, i))
                        }
                        
                        for (var i = 0, len = polygonPath.length; i < len; i++) {
            
                            (function(i){ 
                            
                            var polygon = new daum.maps.Polygon({
                                map: map, // 다각형을 표시할 지도 객체
                                path: polygonPath[i].path,
                                strokeWeight: 2,
                                strokeColor: 'black',
                                strokeOpacity: 0.8,
                                fillColor: polygonPath[i].color,
                                fillOpacity: 0.6 
                            });
                
                            polygon2.push(polygon);
                            
                            
                            var rLat = polygonPath[i].centerpath.getLat()+0.00004;
                            var rLng = polygonPath[i].centerpath.getLng()+0.00001;
                           
                                        // 커스텀 오버레이를 생성합니다
                            var rcustomOverlay = new daum.maps.CustomOverlay({
                                map: map,
                                position: new daum.maps.LatLng(rLat, rLng),
                                content:'<div class ="label" "><span class="left"></span><span class="center">'+ polygonPath[i].name + '</span><span class="right"></span></div>' ,
                            });
                            
                            
                            })(i);
                        }
        
                       
                        
                    
               
                    
                  
                    
                    
                    function panTo() {
                        // 이동할 위도 경도 위치를 생성합니다 
                        var moveLatLon = new daum.maps.LatLng(37.5582677,127.0001752);
                        
                        // 지도 중심을 부드럽게 이동시킵니다
                        // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
                        map.setLevel(1);
                        map.panTo(moveLatLon);  
                        
                    }  
                    
                    
                    
                        </script>
